* {
    font-family: 'Exo', 'Arial';
    font-weight: 400;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    font-size: 100%;
    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    @include media-tv {
        font-size: 70%;
        transition-property: font-size;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
}

body {
    overflow-x: hidden;

    &:before {
    }

    &.loading {
        &:before {
        }

        &:after {
            @keyframes infinite-rotation {
                0% {
                    transform: rotate(0);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .app {
            opacity: 0;
            box-shadow: inset 0 0 200px rgba(0, 0, 0, 0);
            transition: all .2s ease-in-out;
        }
    }

    &.resizing {
        &:before {
            content: 'resizing...';
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }

        .app {
            opacity: 0;
            box-shadow: inset 0 0 200px rgba(0, 0, 0, 0);
            transition: all .2s ease-in-out;
        }
    }
}

.bottle-label {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100px;
    background: transparent;

    &:nth-child(1){
        left: 0;
    }

    &:nth-child(2){
        left: 120px;
    }

    &:nth-child(2){
        left: 240px;
    }
}
